<div ng-include="'components/navbar/navbar.html'">
  
</div>

<div class="container">
  <div class="panel col-md-12">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4>Title</h4>
            <input type="text" placeholder='enter a title...' ng-model="newthing.name" >
          <h4>Url</h4>
            <input type="text" placeholder='enter a image url...' ng-model='newthing.url'>
          <h4>photo credit</h4>
            <input type="text" placeholder='enter a photo credit ...' ng-model='newthing.credit' >
        </div>
       <div><button class="btn" ng-click="addThing(newthing)">+ add a new photo</button></div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="panel col-md-12"  ng-repeat="thing in awesomeThings | orderBy:'-upvotes'">
    <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right ex"><button class="btn" ng-click="deleteThing(thing)">X</button></div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-8">
          <h1>{{thing.name}}</h1>
          <p>photo credit {{thing.credit}}</p>
        </div> 
      </div>
    </div>
    <div class="container">
      <img class="img-responsive" src="{{thing.url}}" alt="">
      <div class="row">
        <div class='col-md-4  col-xs-4'>
          <a href=""><i  ng-click="downVote(thing)"class="fa fa-arrow-down fa-2x xs-pull-right"></i></a>
        </div>
        <div class='col-md-4 col-xs-4'>
        <span id='upvotes' class='xs-pull-right'>{{thing.upvotes}}</span>
        </div>
        <div class='col-md-4 col-xs-4'>
        <a href=""><i ng-click="upVote(thing)" class="fa fa-arrow-up fa-2x xs-pull-right"></i></a>
      </div>
      </div>
        
      </div>
     
    </div>
   <!--  <div class="col-md-12"  ng-repeat="comment in comments | filter:{'comment.thingid': thing.id}:true">
      <p>{{comment.text}}</p>
    </div>
    <div class="div">
       <p>{{thing.newcomment}}</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
       <i class="fa fa-comment-o fa-3x"></i>
       <input type="text" placeholder='...' ng-model="thing.newcmt" >
       <button class="btn btn-default" ng-click="addComment(thing)">+</button> -->
     
     
        <!--  </div> -->
      <!--  </div>
    </div> -->
    
   <!--  </div> -->
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
